/*** VAR ***/
* {
  --transition200: 0.6s ease;
  --navColor: rgb(10, 10, 10);
  --fontColor: rgb(245, 245, 245);
}

/*** GENEREAL DESIGN ***/

body {
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}

ul,
li,
a {
  list-style: none;
  text-decoration: none;
}

/*** SIDEBAR ***/

#sidebar {
  width: 220px;
  margin: 0 30px 0 0;
  position: fixed;
  left: 190px;
  top: 20px;
  z-index: 3;
  height: 95vh;
  transform: translateX(calc(-100% + 20px));
  transition: 0.8s ease;
  background-color: var(--navColor);
  border-radius: 0 0 5px 0;
}

#sidebar.hideSideBar {
  left: -3px;
}

.page {
  overflow: scroll;
  height: 100%;
  max-height: calc(100vh - 40px);
  background: var(--navColor);
  padding: 20px;
  border-radius: 0 0 5px 0;
}

#menuIcon {
  color: var(--fontColor);
  position: absolute;
  right: 0;
  top: 0;
  padding: 20px 15px 15px 0;
  background-color: var(--navColor);
  transform: translate(35px, 0px);
  font-size: 1.21em;
  border-radius: 0 5px 5px 0;
}

#menuIcon:hover {
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 20px;
  height: 2px;
  background-color: var(--fontColor);
  margin-bottom: 5px;
  transition: 0.4s;
  cursor: pointer;
  pointer-events: none;
  transition: transform var(--transition200), opacity var(--transition200);
}

.bar1 {
  width: 20px;
}
.bar2 {
  width: 15px;
}
.bar3 {
  width: 10px;
}

.showSideBar > .bar1 {
  transform: translate(0, 7px) rotate(-45deg);
}

.showSideBar > .bar2 {
  opacity: 0;
}
/* Rotate last bar */
.showSideBar > .bar3 {
  transform: translate(0, -7px) rotate(45deg);
  width: 20px;
}
#sidebarList ul {
  padding: 30px 0 0 50px;
  margin: 0;
  display: flex;
  flex-direction: column;
}
#sidebarList li {
  list-style: none;
  font-size: 1.25em;
}
#sidebarList li:first-child {
  font-size: 2em;
  font-family: "Bebas Neue", cursive;
  letter-spacing: 0.2px;
  color: var(--fontColor);
  padding: 5px 0;
  margin-bottom: 10px;
}

#sidebarList li a {
  font-family: "Bebas Neue", cursive;
  letter-spacing: 0.2px;
  color: var(--fontColor);
  font-size: 1em;
  padding: 4px 8px 4px 2px;
  margin-block: 3px;
  display: inline-block;
  position: relative;
  z-index: 1;
  text-decoration: none;
  transition: color 0.4s ease;
}

#sidebarList li a::before {
  content: " ";
  display: block;
  position: absolute;
  inset: 0 0 0 0;
  z-index: -1;
  transition: transform 0.3s ease;
}

#sidebarList li a::before {
  transform: scaleX(0);
  transform-origin: bottom right;
}

#sidebarList li a:hover {
  color: var(--navColor);
}

#sidebarList li a:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

#sidebarList li.homeNav a::before {
  background: var(--fontColor);
}

#sidebarList li.aboutNav a::before {
  background: hsl(200 100% 80%);
}

#sidebarList li.projectNav a::before {
  background: hsl(0, 100%, 80%);
}

#sidebarList li.contactNav a::before {
  background: hsl(121, 100%, 80%);
}

/** SOME **/

.some {
  margin-left: 50px;
}

.some h4 {
  font-family: "Bebas Neue", cursive;
  font-weight: 400;
  letter-spacing: 0.2px;
  color: var(--fontColor);
  font-size: 2em;
  margin-bottom: 20px;
}

.some .icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 15px;
}

.some img {
  width: 20px;
  height: 20px;
  transition: transform 0.325s ease;
}

.some img:hover {
  transform: scale(1.3, 1.3);
}

.some .faceIcon img:hover {
  content: url("./images/facebook_iconHOVER.svg");
}
.some .instaIcon img:hover {
  content: url("./images/instagram_iconHOVER.svg");
}
.some .linkedIcon img:hover {
  content: url("./images/linkedin_iconHOVER.svg");
}

/*** SECTIONS ***/

.content {
  width: 100vw;
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.content section {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
}

/* * * HOME * * */

#home {
  background-color: var(--fontColor);
  display: flex;
  flex-direction: column;
  color: var(--navColor);
  padding-block-start: 2em;
}

#home h1 {
  font-family: "Bebas Neue", cursive;
  font-size: 3.75em;
  letter-spacing: 3px;
  text-align: center;
  line-height: 0.9em;
  margin-block: 10px;
}

#home p {
  font-family: "Bebas Neue", cursive;
  font-size: 2em;
  letter-spacing: 3px;
  text-align: center;
  line-height: 1.5em;
  margin-bottom: 4em;
}

#home p span {
  display: block;
  margin-bottom: 5px;
  padding-inline: 10px;
  position: relative;
  z-index: 1;
}

#home p span:last-child {
  border-right: none;
}

/** MOBILE ANIMATION HOME SPAN **/

#home.mobile p span::before {
  content: " ";
  display: block;
  position: absolute;
  inset: 0 0 0 0;
  z-index: -1;
}

#home p span:before {
  animation-duration: 1.3s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
}

#home p span:first-child:before {
  animation-name: colorBg1;
  animation-delay: 1.2s;
}
#home p span:nth-child(2):before {
  animation-name: colorBg2;
  animation-delay: 1.8s;
}
#home p span:last-child:before {
  animation-name: colorBg3;
  animation-delay: 2.4s;
}

@keyframes colorBg1 {
  0% {
    background: hsl(200 100% 80%);
    transform: scaleX(0);
    transform-origin: left;
  }
  30% {
    transform: scaleX(1);
    transform-origin: left;
  }
  60% {
    transform: scaleX(1);
    transform-origin: right;
  }
  100% {
    background: hsl(200 100% 80%);
    transform: scaleX(0);
    transform-origin: right;
  }
}
@keyframes colorBg2 {
  0% {
    background: hsl(0, 100%, 80%);
    transform: scaleX(0);
    transform-origin: left;
  }
  30% {
    transform: scaleX(1);
    transform-origin: left;
  }
  60% {
    transform: scaleX(1);
    transform-origin: right;
  }
  100% {
    background: hsl(0, 100%, 80%);
    transform: scaleX(0);
    transform-origin: right;
  }
}
@keyframes colorBg3 {
  0% {
    background: hsl(121, 100%, 80%);
    transform: scaleX(0);
    transform-origin: left;
  }
  30% {
    transform: scaleX(1);
    transform-origin: left;
  }
  60% {
    transform: scaleX(1);
    transform-origin: right;
  }
  100% {
    background: hsl(121, 100%, 80%);
    transform: scaleX(0);
    transform-origin: right;
  }
}

.welcome h3 {
  font-family: "Bebas Neue", cursive;
  font-size: 1.4em;
  font-weight: 400;
  letter-spacing: 1px;
  text-align: center;
  line-height: 0.9em;
}

/* * * ABOUT * * */
#about {
  background: hsl(200 100% 80%);
}

#about .content__inner__section {
  display: grid;
  grid-template-areas: "header" "select" "text";
  max-width: 700px;
  margin-top: -30px;
}

/* ABOUT IMG */
.about__img {
  grid-area: header;
  width: 100%;
  aspect-ratio: 16 / 9;
}

/* ABOUT SELECTORS */

#about__selection,
.about__text {
  padding-inline: 30px 20px;
}
.about__selection {
  grid-area: select;
}

#about ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: left;
  row-gap: 15px;
}
#about__selection .header {
  font-family: "Bebas Neue", cursive;
  font-size: 1.6em;
  font-weight: 400;
  letter-spacing: 1px;
  text-align: left;
  line-height: 0.9em;
  margin-bottom: 30px;
}

#about__selection li {
  width: 180px;
  display: flex;
  justify-content: space-between;
}

#about__selection li:hover {
  cursor: pointer;
}

#about__selection li span {
  font-family: "Bebas Neue", cursive;
  font-size: 1.4em;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 0.9em;
  margin-bottom: 20px;
}
/* ABOUT TEXTS */
.about__text {
  grid-area: text;
}

#about p {
  max-width: 60ch;
}

/* * * PROJECTS * * */
#projects {
  background-color: pink;
}

/* * * CONTACT * * */
#contact {
  background-color: rgb(95, 83, 157);
}

@media screen and (width > 500px) {
  #menuIcon:hover {
    cursor: auto;
  }

  /* HOME SPAN HOVER COLORS */
  #home p span {
    display: initial;
    margin-bottom: 0;
    border-right: 2px solid var(--navColor);
  }

  #home p span::before {
    content: " ";
    display: block;
    position: absolute;
    inset: 0 0 0 0;
    z-index: -1;
    transition: transform 0.3s ease;
  }

  #home p span::before {
    transform: scaleX(0);
    transform-origin: bottom right;
  }

  #home p span:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  #home p span:first-child:before {
    background: hsl(200 100% 80%);
  }

  #home p span:nth-child(2):before {
    background: hsl(0, 100%, 80%);
  }

  #home p span:last-child:before {
    background: hsl(121, 100%, 80%);
  }

  /* ABOUT */
  #about .content__inner__section {
    display: grid;
    grid-template-areas: "header header header header header" "select select text text text";
    margin-top: 0;
  }
  .about__img {
    border-radius: 20px 0;
  }
}
